body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 15px;
}

h1 {
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;

}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;

}

h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

p {
  line-height: 2;

}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
  margin: 100px auto;

}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.intro {
  width: 30%;
  margin: auto;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;

}

.top-cloud {
  position: absolute;
  right:  300px;
  top:  40px;
}

.top-container {
  background-color: #EAF6F6;
  position: relative;
  padding-top: 100px;

}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #66BFBF;
  position: relative;
  padding: 50px 0 20px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.computer {
  width: 25%;
  border-radius: 50%;
  float: left;
  margin-right: 30px;
}

.bowl {
  width: 25%;
  border-radius: 50%;
  float: right;
  margin-left: 30px;
}

.profile-pic {
  width: 20%;
  border-radius: 50%;
}

.btn-contact {
  background-color: #66BFBF;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}

.contact-message {
  width: 40%;
  margin: 60px auto;
}
/******************ANCHOR (HREF) TAGS************/
a {
  color: #11999E;
  cursor: pointer;
  text-decoration: none;
  margin: 10px 20px;
  font-family: 'Merriweather', serif;
}

a:visited {
  color: blue;
}

a:hover {
  color: #EAF6F6;
}
